mixin climats_cond_content
  #climats-cond-content._tab-content
    .content-wrapper
          #page-wrapper
            // BEGIN TITLE & BREADCRUMB PAGE
            #title-breadcrumb-option-demo.page-title-breadcrumb
              .page-header.pull-left
                .page-title
                  | Климатика \ Кондиционер
              ol.breadcrumb.page-breadcrumb.pull-right
                li
                  i.fa.fa-home
                  a(href='dashboard') Главная
                  i.fa.fa-angle-right
                li.hidden
                  a(href='#') Климатика
                  i.fa.fa-angle-right
                li.active Климатика
              .clearfix
            // END TITLE & BREADCRUMB PAGE
            // BEGIN CONTENT
            .page-content
              .row.mbl
                ul#generalTab.nav.nav-tabs.responsive.hidden-xs.hidden-sm
                  li.active
                    a(href='#status-tab', data-toggle='tab') Состояния
                  li
                    a(href='#params-tab', data-toggle='tab') Параметры
                  li
                    a(href='#monitor-tab', data-toggle='tab') Монитор событий
                #generalTabContent.tab-content.responsive.hidden-xs.hidden-sm
                  #status-tab.tab-pane.fade.in.active
                    .row
                      .col-lg-12
                        .panel.panel-grey
                          .panel-heading Температурные датчики кондиционера
                          .panel-body
                            table#datchiki-temperaturi-cond.table.table-hover.table-bordered
                              thead
                                tr
                                  th №
                                  th Наименование
                                  th Значение
                                  th Комментарий
                              tbody
                                tr
                                  td 1
                                  td.active t1 окружающая
                                  td#dtc1.success  30 °С
                                  td.warning температура окружающей среды
                                tr
                                  td 2
                                  td.active t2 на входе фрикулинга (внутренний контур)
                                  td#dtc2.success  25 °С
                                  td.warning температура воздушного потока на входе фрикулинга (внутренний контур)
                                tr
                                  td 3
                                  td.active t3 внутренняя
                                  td#dtc3.success  22 °С
                                  td.warning температура внутри термобокса
                                tr
                                  td 4
                                  td.active t4 на выходе испарителя
                                  td#dtc4.success  18 °С
                                  td.warning
                                    | температура воздушного потока на выходе радиатора испарителя (охлаждённый воздух)
                                tr
                                  td 5
                                  td.active t5 на выходе фрикулинга (внешний контур)
                                  td#dtc5.success  29 °С
                                  td.warning температура воздушного потока на выходе фрикулинга (внешний конур)
                                tr
                                  td 6
                                  td.active t6 на всасывающей трубе компрессора
                                  td#dtc6.success  7 °С
                                  td.warning температура на всасывающей трубе компрессора (холодный пар низкого давления)
                                tr
                                  td 7
                                  td.active t7 на сливе конденсатора
                                  td#dtc7.success  38 °С
                                  td.warning температура трубы на сливе радиатора конденсатора (жидкий хладогент)
                                tr
                                  td 8
                                  td.active t8 температура картера компрессора
                                  td#dtc8.success  51 °С
                                  td.warning температура картера компрессора
                    .row
                      .col-lg-12
                        .panel.panel-grey
                          .panel-heading Состояние систем кондиционера
                          .panel-body
                            table#status-system-cond.table.table-hover.table-bordered
                              thead
                                tr
                                  th №
                                  th Наименование
                                  th Значение
                                  th Комментарий
                              tbody
                                tr
                                  td 1
                                  td.active Напряжение 220В
                                  td#ssc1.success Enable
                                  td.warning Сетевое напряжение питания кондиционера AC 220V
                                tr
                                  td 2
                                  td.active Компрессор
                                  td#ssc2.success Enable
                                  td.warning Состояние работы компрессора (включен/выключен)
                                tr
                                  td 3
                                  td.active ТЭН подогрева картера
                                  td#ssc3.success Disable
                                  td.warning Состояние работы ТЭНа подогрева картера (включен/выключен)
                                tr
                                  td 4
                                  td.active ТЭН подогрева дренажа
                                  td#ssc4.success Disable
                                  td.warning Состояние работы ТЭНа подогрева дренажа (включен/выключен)
                                tr
                                  td 5
                                  td.active ТЭН обогрева термобокса
                                  td#ssc5.success Disable
                                  td.warning Состояние работы обогрева термобокса (включен/выключен)
                                tr
                                  td 6
                                  td.active Фрикулинг
                                  td#ssc6.success Disable
                                  td.warning Состояние работы вентилятора фрикулинга (включен/выключен)
                                tr
                                  td 7
                                  td.active Вентилятор испарителя
                                  td#ssc7.success Enable
                                  td.warning Состояние работы вентилятора испарителя (включен/выключен)
                                tr
                                  td 8
                                  td.active Вентилятор конденсатора
                                  td#ssc8.success Enable
                                  td.warning Состояние работы вентилятора конденсатора (включен/выключен)
                    .row
                      .col-lg-12
                        .panel.panel-grey
                          .panel-heading Аварии кондиционера
                          .panel-body
                            table#dangers-cond.table.table-hover.table-bordered
                              thead
                                tr
                                  th №
                                  th Наименование
                                  th Значение
                                  th Комментарий
                              tbody
                                tr
                                  td 1
                                  td.active Высокая t внутри термобокса
                                  td#avc1.success Active
                                  td.warning активно если t3 выше "t аварийно-высокая"(нормально: Inactive)
                                tr
                                  td 2
                                  td.active Низкая t внутри термобокса
                                  td#avc2.success Inactive
                                  td.warning активно если t3 ниже "t аварийно-низкая"(нормально: Inactive)
                                tr
                                  td 3
                                  td.active Высокое давление в гидросистеме
                                  td#avc3.success Inactive
                                  td.warning активно если t7 выше "аварийная температуры хладогента" (нормально: Incative)
                                tr
                                  td 4
                                  td.active Общая неисправность кондиционера
                                  td#avc4.success Inactive
                                  td.warning
                                    | активно если произошло  обледенение  испарителя,  не  работают  вентиляторы испарителя,  нет  фреона,  не  работает  компрессор (нормально: Incative)
                                tr
                                  td 5
                                  td.active Неисправность компрессора
                                  td#avc5.success Inactive
                                  td.warning активно если t8 выше 90°С (нормально: Incative)
                                tr
                                  td 6
                                  td.active Неисправность фрикулинга
                                  td#avc6.success Inactive
                                  td.warning активно если система фрикулинга не работает (нормально: Inactive)
                                tr
                                  td 7
                                  td.active Нет напряжения AC 220В
                                  td#avc7.success Inactive
                                  td.warning активно если нет питающего напряжения AC 220V (нормально: Incative)
                                tr
                                  td 8
                                  td.active Нет напряжения DC 48В
                                  td#avc8.success Inactive
                                  td.warning активно если нет питающего напряжения DC 48V (нормально: Incative)
                  #params-tab.tab-pane.fade.in
                    .row
                      .col-md-8
                        table#parametrs-cond.table.table-hover.table-bordered
                          thead
                            tr
                              th.bggray(colspan='7') Параметрирование кондиционера
                            tr
                              th №
                              th Наименование
                              th Значение
                              th Комментарий
                          tbody
                            tr
                              td 1
                              td.active t внутренняя (С)
                              td#pc1 22
                              td задание внутренней температуры (относительно t3)(min:10, max:40)
                            tr
                              td 2
                              td.active Δt гистерезис внутренней температуры (°С)
                              td#pc2 5
                              td гистерезис вкл/выкл компрессора (min: 0; max: 20)
                            tr
                              td 3
                              td.active t срочного включения компрессора (°С)
                              td#pc3 30
                              td
                                | задание температуры срочного включения компрессора минуя все задержки (относительно t3) (min: 20; max: 90)
                            tr
                              td 4
                              td.active t аварийно-высокая (°С)
                              td#pc4 40
                              td
                                | задание температуры при которой срабатывает авария кондиционера (относительно t3) (min: 20; max: 90)
                            tr
                              td 5
                              td.active t срочного выключения компрессора (°С)
                              td#pc5 13
                              td
                                | задание температуры срочного выключения компрессора минуя все задержки (относительно t3) (min: 5; max: 30)
                            tr
                              td 6
                              td.active t аварийно-низкая (°С)
                              td#pc6 7
                              td
                                | задание температуры при которой срабатывает авария кондиционера (относительно t3) (min: 5; max: 30)
                            tr
                              td 7
                              td.active Аварийная температура хладогента (°С)
                              td#pc7 60
                              td задание аварийной температуры хладогента на t7 (min: 30; max: 90)
                            tr
                              td 8
                              td.active Δt гистерезис аварийной температуры (°С)
                              td#pc8 5
                              td гистерезис аварийной температуры хладогента (min: 0; max: 30)
                            tr
                              td 9
                              td.active t включения фрикулига
                              td#pc9 15
                              td задание температуры для включения фрикулинга (относительно t1) (min: 0; max: 50)
                            tr
                              td.bggray(colspan='7') Настройка работы вентилятора конденсатора "!!!"
                            tr
                              td 10
                              td.active температура зоны "++"
                              td#pc10 32
                              td Задание температуры для зоны «++»
                            tr
                              td 11
                              td.active температура зоны "+"
                              td#pc11 30
                              td Задание температуры для зоны «+»
                            tr
                              td 12
                              td.active температура зоны "-"
                              td#pc12 25
                              td Задание температуры для зоны «-»
                            tr
                              td 13
                              td.active температура зоны "--"
                              td#pc13 23
                              td Задание температуры для зоны «--»
                            tr
                              td 14
                              td.active Время зоны "++" 
                              td#pc14 6
                              td Задание интервала времени для зоны "++"
                            tr
                              td 15
                              td.active Время зоны "+"
                              td#pc15 10
                              td Задание интервала времени для зоны "+"
                            tr
                              td 16
                              td.active Время зоны "-"
                              td#pc16 125
                              td Задание интервала времени для зоны "-"
                            tr
                              td.bggray(colspan='7') Параметры связи
                            tr
                              td 17
                              td.active Адрес кондиционера
                              td#pc17 1
                              td задание адреса кондиционера в сети ModBus
                            tr
                              td 18
                              td.active Скорость обмена
                              td#pc18 9600
                              td скорость обмена в сети ModBus
                  #monitor-tab.tab-pane.fade.in
                    .row
                      .col-md-8
                        table#status-discrete-in.table.table-hover.table-bordered
                          thead
                            tr
                              th.bggray(colspan='7') Монитор событий
                            tr
                              th №
                              th Вкл/выкл
                              th Наименование
                              th Строгость события
                              th(colspan='2')
                                | Значения события
                                br
                                | (меньше/больше)
                              th Действие
                          tbody
                            tr
                              td.bggray(colspan='7') Температурные датчики кондиционера
                            tr
                              td 1
                              td.active
                                input(type='checkbox', name='mdt1')
                              td t1 окружающая
                              td.success
                                input#mdts1(type='text', value='Warning')
                              td
                                input#mdtm1(type='text', value='-20')
                              td
                                input#mdtb1(type='text', value='50')
                              td
                                input#mdtev1(type='text', value='SDO 6')
                            tr
                              td 2
                              td.active
                                input(type='checkbox', name='mdt2')
                              td t2 на входе фрикулинга (внутренний контур)
                              td.success
                                input#mdts2(type='text', value='Minor')
                              td
                                input#mdtm2(type='text', value='5')
                              td
                                input#mdtb2(type='text', value='38')
                              td
                                input#mdtev2(type='text', value='SDO 9')
                            tr
                              td 3
                              td.active
                                input(type='checkbox', name='mdt3')
                              td t3 внутренняя
                              td.success
                                input#mdts3(type='text', value='Major')
                              td
                                input#mdtm3(type='text', value='5')
                              td
                                input#mdtb3(type='text', value='38')
                              td
                                input#mdtev3(type='text', value='SDO 9')
                            tr
                              td 4
                              td.active
                                input(type='checkbox', name='mdt4')
                              td t4 на выходе испарителя
                              td.success
                                input#mdts4(type='text', value='Event')
                              td
                                input#mdtm4(type='text', value='15')
                              td
                                input#mdtb4(type='text', value='30')
                              td
                                input#mdtev4(type='text', value='SDO 4')
                            tr
                              td 5
                              td.active
                                input(type='checkbox', name='mdt5')
                              td t5 на выходе фрикулинга (внешний контур)
                              td.success
                                input#mdts5(type='text', value='Event')
                              td
                                input#mdtm5(type='text', value='10')
                              td
                                input#mdtb5(type='text', value='40')
                              td
                                input#mdtev5(type='text', value='SDO 5')
                            tr
                              td 6
                              td.active
                                input(type='checkbox', name='mdt6')
                              td t6 на всасывающей трубе компрессора
                              td.success
                                input#mdts6(type='text', value='Event')
                              td
                                input#mdtm6(type='text', value='10')
                              td
                                input#mdtb6(type='text', value='40')
                              td
                                input#mdtev6(type='text', value='SDO 6')
                            tr
                              td 7
                              td.active
                                input(type='checkbox', name='mdt7')
                              td t7 на сливе конденсатора
                              td.success
                                input#mdts7(type='text', value='Event')
                              td
                                input#mdtm7(type='text', value='15')
                              td
                                input#mdtb7(type='text', value='30')
                              td
                                input#mdtev7(type='text', value='SDO 7')
                            tr
                              td 8
                              td.active
                                input(type='checkbox', name='mdt8')
                              td t8 температура картера компрессора
                              td.success
                                input#mdts8(type='text', value='Event')
                              td
                                input#mdtm8(type='text', value='15')
                              td
                                input#mdtb8(type='text', value='30')
                              td
                                input#mdtev8(type='text', value='PDO 3')
                            tr
                              td.bggray(colspan='7') Аварии кондиционера
                            tr
                              td 1
                              td.active
                                input(type='checkbox', name='amdt1')
                              td Высокая t внутри термобокса
                              td.success
                                input#amdts1(type='text', value='Major')
                              td(colspan='2')
                                input#amdtm1(type='text', value='Active')
                              td
                                input#amdtev1(type='text', value='SDO 3')
                            tr
                              td 2
                              td.active
                                input(type='checkbox', name='amdt2')
                              td Низкая t внутри термобокса
                              td.success
                                input#amdts2(type='text', value='Minor')
                              td(colspan='2')
                                input#amdtm2(type='text', value='Active')
                              td
                                input#amdtev2(type='text', value='SDO 3')
                            tr
                              td 3
                              td.active
                                input(type='checkbox', name='amdt3')
                              td Высокое давление в гидросистеме
                              td.success
                                input#amdts3(type='text', value='Warning')
                              td(colspan='2')
                                input#amdtm3(type='text', value='Active')
                              td
                                input#amdtev3(type='text', value='SDO 4')
                            tr
                              td 4
                              td.active
                                input(type='checkbox', name='amdt4')
                              td Общая неисправность кондиционера
                              td.success
                                input#amdts4(type='text', value='Event')
                              td(colspan='2')
                                input#amdtm4(type='text', value='Active')
                              td
                                input#amdtev4(type='text', value='SDO 4')
                            tr
                              td 5
                              td.active
                                input(type='checkbox', name='amdt5')
                              td Неисправность компрессора
                              td.success
                                input#amdts5(type='text', value='Event')
                              td(colspan='2')
                                input#amdtm5(type='text', value='Active')
                              td
                                input#amdtev5(type='text', value='SDO 5')
                            tr
                              td 6
                              td.active
                                input(type='checkbox', name='amdt6')
                              td Неисправность фрикулинга
                              td.success
                                input#amdts6(type='text', value='Event')
                              td(colspan='2')
                                input#amdtm6(type='text', value='Active')
                              td
                                input#amdtev6(type='text', value='SDO 6')
                            tr
                              td 7
                              td.active
                                input(type='checkbox', name='amdt7')
                              td Нет напряжения AC 220В
                              td.success
                                input#amdts7(type='text', value='Event')
                              td(colspan='2')
                                input#amdtm7(type='text', value='Inactive')
                              td
                                input#amdtev7(type='text', value='SDO 7')
                            tr
                              td 8
                              td.active
                                input(type='checkbox', name='amdt8')
                              td Нет напряжения DC 48В
                              td.success
                                input#amdts8(type='text', value='Event')
                              td(colspan='2')
                                input#amdtm8(type='text', value='Inactive')
                              td
                                input#amdtev8(type='text', value='PDO 3')
                            tr
                              td.bggray(colspan='7') Состояния систем кондиционера
                            tr
                              td 1
                              td.active
                                input(type='checkbox', name='smdt1')
                              td Напряжение 220В
                              td.success
                                input#smdts1(type='text', value='Major')
                              td(colspan='2')
                                input#smdtm1(type='text', value='Enable')
                              td
                                input#smdtev1(type='text', value='SDO 3')
                            tr
                              td 2
                              td.active
                                input(type='checkbox', name='smdt2')
                              td Компрессор
                              td.success
                                input#smdts2(type='text', value='Minor')
                              td(colspan='2')
                                input#smdtm2(type='text', value='Disable')
                              td
                                input#smdtev2(type='text', value='SDO 3')
                            tr
                              td 3
                              td.active
                                input(type='checkbox', name='smdt3')
                              td ТЭН подогрева картера
                              td.success
                                input#smdts3(type='text', value='Warning')
                              td(colspan='2')
                                input#smdtm3(type='text', value='Disable')
                              td
                                input#smdtev3(type='text', value='SDO 4')
                            tr
                              td 4
                              td.active
                                input(type='checkbox', name='smdt4')
                              td ТЭН подогрева дренажа
                              td.success
                                input#smdts4(type='text', value='Event')
                              td(colspan='2')
                                input#smdtm4(type='text', value='Enable')
                              td
                                input#smdtev4(type='text', value='SDO 4')
                            tr
                              td 5
                              td.active
                                input(type='checkbox', name='smdt5')
                              td ТЭН обогрева термобокса
                              td.success
                                input#smdts5(type='text', value='Event')
                              td(colspan='2')
                                input#smdtm5(type='text', value='Enable')
                              td
                                input#smdtev5(type='text', value='SDO 5')
                            tr
                              td 6
                              td.active
                                input(type='checkbox', name='smdt6')
                              td Фрикулинг
                              td.success
                                input#smdts6(type='text', value='Event')
                              td(colspan='2')
                                input#smdtm6(type='text', value='Enable')
                              td
                                input#smdtev6(type='text', value='SDO 6')
                            tr
                              td 7
                              td.active
                                input(type='checkbox', name='smdt7')
                              td Вентилятор испарителя
                              td.success
                                input#smdts7(type='text', value='Event')
                              td(colspan='2')
                                input#smdtm7(type='text', value='Disable')
                              td
                                input#smdtev7(type='text', value='SDO 7')
                            tr
                              td 8
                              td.active
                                input(type='checkbox', name='smdt8')
                              td Вентилятор конденсатора
                              td.success
                                input#smdts8(type='text', value='Event')
                              td(colspan='2')
                                input#smdtm8(type='text', value='Disable')
                              td
                                input#smdtev8(type='text', value='PDO 3')