include sidebar
include topbar
include home_content
include modules_main_content
include system_power_content
include climats_cond_content
include climats_pelte_content
include climats_nagrevateli_content
include options_modbus_content
include options_net_content
include options_time_content
include system_logs_content

script(type='text/javascript').

doctype html
html(lang='en')
  include ./main_head.jade
  body.skin-blue.sidebar-mini
    script.
      function activateSubmenuWithID(elementID)
      {
        console.log('qqq');
        var elementContentID = elementID + '-content';
        var elementSidebarID = elementID + '-side';
        var contents = document.getElementsByClassName('_tab-content');
        var i;
        for (i = 0; i < contents.length; i++) {
          if (contents[i].id  === elementContentID) {
            contents[i].style.display = "";
          } else {
            contents[i].style.display = "none";
          }
        }
        contents = document.getElementsByClassName('_tab-side');
        for (i = 0; i < contents.length; i++) {
          if (contents[i].id  === elementSidebarID) {
            contents[i].classList.add('active');
          } else {
            contents[i].classList.remove('active');
          }
        }
      }

      $(function() {
        activateSubmenuWithID('home');
      });
    .wrapper
      mixin topbar
      mixin sidebar
      mixin home_content
      mixin modules_main_content
      mixin system_power_content
      mixin climats_cond_content
      mixin climats_nagrevateli_content
      mixin options_modbus_content
      mixin options_net_content
      mixin options_time_content
      mixin system_logs_content
      mixin climats_pelte_content