head
    title Dashboard | Dashboard
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='shortcut icon', href='images/icons/favicon.ico')
    link(rel='apple-touch-icon', href='images/icons/favicon.png')
    link(rel='apple-touch-icon', sizes='72x72', href='images/icons/favicon-72x72.png')
    link(rel='apple-touch-icon', sizes='114x114', href='images/icons/favicon-114x114.png')
    // Loading bootstrap css
    link(type='text/css', rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,700')
    link(type='text/css', rel='stylesheet', href='http://fonts.googleapis.com/css?family=Oswald:400,700,300')
    link(type='text/css', rel='stylesheet', href='stylesheets/jquery-ui-1.10.4.custom.min.css')
    link(type='text/css', rel='stylesheet', href='stylesheets/font-awesome.min.css')
    link(type='text/css', rel='stylesheet', href='stylesheets/bootstrap.min.css')
    link(type='text/css', rel='stylesheet', href='stylesheets/animate.css')
    link(type='text/css', rel='stylesheet', href='stylesheets/all.css')
    link(type='text/css', rel='stylesheet', href='stylesheets/main.css')
    link(type='text/css', rel='stylesheet', href='stylesheets/glyphicons.css')
    link(type='text/css', rel='stylesheet', href='stylesheets/style-responsive.css')
    link(type='text/css', rel='stylesheet', href='stylesheets/zabuto_calendar.min.css')
    link(type='text/css', rel='stylesheet', href='stylesheets/pace.css')
    link(type='text/css', rel='stylesheet', href='stylesheets/jquery.news-ticker.css')
    script(src='scripts/jquery-1.10.2.min.js')
    script(src='scripts/jquery-migrate-1.2.1.min.js')
    script(src='scripts/jquery-ui.js')
    script(src='scripts/bootstrap.min.js')
    script(src='scripts/bootstrap-hover-dropdown.js')
    script(src='scripts/html5shiv.js')
    script(src='scripts/respond.min.js')
    script(src='scripts/jquery.slimscroll.js')
    script(src='scripts/jquery.cookie.js')
    script(src='scripts/icheck.min.js')
    script(src='scripts/custom.min.js')
    script(src='scripts/pace.min.js')
    script(src='scripts/holder.js')
    script(src='scripts/responsive-tabs.js')
    script(src='scripts/zabuto_calendar.min.js')
    script(src='scripts/index.js')
    // InputMask
    script(src='scripts/input-mask/jquery.inputmask.js')
    script(src='scripts/input-mask/jquery.inputmask.date.extensions.js')
    script(src='scripts/input-mask/jquery.inputmask.extensions.js')
    script(src='scripts/bootstrap-switch.min.js')
    // CORE JAVASCRIPT
    script(src='scripts/main.js')