doctype html
html(lang='en')
  include ./main_head.jade
  body.skin-blue.sidebar-mini
    .wrapper
      include ./top_bar.jade
      // BEGIN SIDEBAR MENU
      aside.main-sidebar
        // sidebar: style can be found in sidebar.less
        section.sidebar
          ul.sidebar-menu
            li
              a(href='/')
                i.fa.glyphicons.glyphicons-info-sign.fa-fw
                span.menu-title Обзор системы
            li.treeview
              a(href='#')
                i.fa.glyphicons.glyphicons-server.fa-fw
                span.menu-title Модули
                i.fa.fa-angle-left.pull-right
              ul.treeview-menu
                li
                  a(href='modules-main')
                    i.fa.glyphicons.glyphicons-server.fa-fw
                    span.menu-title Главный модуль
            li.treeview
              a(href='#')
                i.fa.glyphicons.glyphicons-temperature.fa-fw
                span.menu-title Климатика
                i.fa.fa-angle-left.pull-right
              ul.treeview-menu
                li
                  a(href='climats-cond')
                    i.fa.glyphicons.glyphicons-snowflake.fa-fw
                    span.menu-title Кондиционер
                li
                  a(href='climats-pelte')
                    i.fa.glyphicons.glyphicons-none-color-swatch.fa-fw
                    span.menu-title Пельтье
                li
                  a(href='climats-nagrevateli')
                    i.fa.glyphicons.glyphicons-heat.fa-fw
                    span.menu-title Нагреватели
            li
              a(href='system-power')
                i.fa.fa-plug.fa-fw
                  .icon-bg.bg-orange
                span.menu-title Система питания
            li
              a(href='system-logs')
                i.fa.fa-file-text-o.fa-fw
                  .icon-bg.bg-orange
                span.menu-title Логи
            li.treeview.active
              a(href='#')
                i.fa.fa-cog.fa-fw
                  .icon-bg.bg-orange
                span.menu-title Настройки
                i.fa.fa-angle-left.pull-right
              ul.treeview-menu
                li
                  a(href='options-net')
                    span.glyphicons.glyphicons-inbox
                    span.menu-title Сеть
                li
                  a(href='options-snmp')
                    span.glyphicons.glyphicons-cluster
                    span.menu-title SNMP
                li
                  a(href='options-modbus')
                    span.glyphicons.glyphicons-tree-structure
                    span.menu-title ModBus
                li.active
                  a(href='options-time')
                    span.glyphicons.glyphicons-calendar
                    span.menu-title Время
      .content-wrapper
        #page-wrapper
          // BEGIN TITLE & BREADCRUMB PAGE
          #title-breadcrumb-option-demo.page-title-breadcrumb
            .page-header.pull-left
              .page-title
                | Настройки / Время
            ol.breadcrumb.page-breadcrumb.pull-right
              li
                i.fa.fa-home
                a(href='dashboard') Главная
                i.fa.fa-angle-right
              li.hidden
                a(href='#') Настройки
                i.fa.fa-angle-right
              li.active Настройки
            .clearfix
          // END TITLE & BREADCRUMB PAGE
          // BEGIN CONTENT
          .page-content
            .row.mbl
              .col-md-5
                .panel.panel-violet
                  .panel-heading
                    | Время
                  .panel-body.pan
                    form.form-horizontal(action='#')
                      .form-body.pal
                        .form-group
                          label.col-md-4.control-label(for='inputName')
                            | Часовой пояс:
                          .col-md-8
                            select#time.form-control
                              option UTC+2
                        .form-group
                          label.col-md-4.control-label(for='sysDate')
                            | Дата:
                          .col-md-8
                            .input-icon.right
                              i.fa.fa-calendar
                              input#sysDate.form-control(type='text', placeholder='', data-inputmask="'alias': 'dd/mm/yyyy'", data-mask='')
                        .form-group
                          label.col-md-4.control-label(for='sysTime')
                            | Время:
                          .col-md-8
                            .input-icon.right
                              i.fa.fa-clock-o
                              input#sysTime.form-control(type='text', placeholder='', data-inputmask="'alias': 'hh:mm'", data-mask='')
                        .form-group
                          label.col-md-4.control-label(for='sysSyncNTP')
                            | Синхронизация по NTP:
                          .col-md-8
                            .input-icon.right
                              input#sysSyncNTP.switch(type='checkbox', name='sysSyncNTP')
                        .form-group
                          label.col-md-4.control-label(for='addressNTP')
                            | Адрес сервера NTP:
                          .col-md-8
                            .input-icon.right
                              i.fa.fa-text
                              input#addressNTP.form-control(type='text', placeholder='')
                        .form-group
                          label.col-md-4.control-label(for='intervalSync')
                            | Интервал синхронизации:
                          .col-md-8
                            select#intervalSync.form-control
                              option 1 день
        script.
          $("[data-mask]").inputmask();