mixin options_net_content
  #options-net-content._tab-content
    .content-wrapper
      #page-wrapper
        // BEGIN TITLE & BREADCRUMB PAGE
        #title-breadcrumb-option-demo.page-title-breadcrumb
          .page-header.pull-left
            .page-title
              | Настройки / Сеть
          ol.breadcrumb.page-breadcrumb.pull-right
            li
              i.fa.fa-home
              a(href='dashboard') Главная
              i.fa.fa-angle-right
            li.hidden
              a(href='#') Настройки
              i.fa.fa-angle-right
            li.active Настройки
          .clearfix
        // END TITLE & BREADCRUMB PAGE
        // BEGIN CONTENT
        .page-content
          .row.mbl
            .col-md-5
              .panel.panel-violet
                .panel-heading
                  | Сеть
                .panel-body.pan
                  form(action='#')
                    .form-body.pal
                      .row
                        .col-md-12
                          .form-group
                            .input-icon.right
                              i.fa.fa-keyboard-o
                              input#physica_address.form-control(type='text', placeholder='Физический адрес:', data-inputmask="'alias': 'mac'", data-mask='')
                        .col-md-12
                          .form-group
                            .input-icon.right
                              i.fa.fa-keyboard-o
                              input#ipAddress.form-control(type='text', placeholder='IP адрес:', data-inputmask="'alias': 'ip'", data-mask='')
                      .row
                        .col-md-12
                          .form-group
                            .input-icon.right
                              i.fa.fa-keyboard-o
                              input#maskAddress.form-control(type='text', placeholder='Маска подсети', data-inputmask="'alias': 'ip'", data-mask='')
                        .col-md-12
                          .form-group
                            .input-icon.right
                              i.fa.fa-keyboard-o
                              input#gateway.form-control(type='text', placeholder='Шлюз', data-inputmask="'alias': 'ip'", data-mask='')
                      .row
                        .col-md-12
                          .form-group
                            .input-icon.right
                              i.fa.fa-keyboard-o
                              input#DNS1.form-control(type='text', placeholder='DNS1', data-inputmask="'alias': 'ip'", data-mask='')
                      .row
                        .col-md-12
                          .form-group
                            .input-icon.right
                              i.fa.fa-keyboard-o
                              input#DNS2.form-control(type='text', placeholder='DNS2', data-inputmask="'alias': 'ip'", data-mask='')
                        .col-md-12
                          .form-group
                            .input-icon.right
                              i.fa.fa-font
                              input#httpport.form-control(type='text', placeholder='HTTP-порт')
                        .col-md-12
                          .form-group
                            .input-icon.right
                              i.fa.fa-font
                              input#httphost.form-control(type='text', placeholder='Имя хоста')
      script.
        $("[data-mask]").inputmask();