mixin sidebar
  aside.main-sidebar
    // sidebar: style can be found in sidebar.less
    section.sidebar
      ul.sidebar-menu
        li._tab-side#home-side
          a(href='#', onclick="activateSubmenuWithID('home')")
            i.fa.glyphicons.glyphicons-info-sign.fa-fw
            span.menu-title Обзор системы
        li
          a(href='#')
            i.fa.glyphicons.glyphicons-server.fa-fw
            span.menu-title Модули
            i.fa.fa-angle-left.pull-right
          ul.treeview-menu
            li._tab-side#modules-main-side
              a(href='#', onclick="activateSubmenuWithID('modules-main')")
                i.fa.glyphicons.glyphicons-server.fa-fw
                span.menu-title Главный модуль
        li.treeview
          a(href='#')
            i.fa.glyphicons.glyphicons-temperature.fa-fw
            span.menu-title Климатика
            i.fa.fa-angle-left.pull-right
          ul.treeview-menu
            li._tab-side#climats-cond-side
              a(href='#', onclick="activateSubmenuWithID('climats-cond')")
                i.fa.glyphicons.glyphicons-snowflake.fa-fw
                span.menu-title Кондиционер
            li._tab-side#climats-pelte-side
              a(href='#', onclick="activateSubmenuWithID('climats-pelte')")
                i.fa.glyphicons.glyphicons-none-color-swatch.fa-fw
                span.menu-title Пельтье
            li._tab-side#climats-nagrevateli-side
              a(href='#', onclick="activateSubmenuWithID('climats-nagrevateli')")
                i.fa.glyphicons.glyphicons-heat.fa-fw
                span.menu-title Нагреватели
        li._tab-side#system-power-side
          a(href='#', onclick="activateSubmenuWithID('system-power')")
            i.fa.fa-plug.fa-fw
              .icon-bg.bg-orange
            span.menu-title Система питания
        li._tab-side#system-logs
          a(href='#', onclick="activateSubmenuWithID('system-logs')")
            i.fa.fa-file-text-o.fa-fw
              .icon-bg.bg-orange
            span.menu-title Логи
        li.treeview
          a(href='#')
            i.fa.fa-cog.fa-fw
              .icon-bg.bg-orange
            span.menu-title Настройки
            i.fa.fa-angle-left.pull-right
          ul.treeview-menu
            li._tab-side#options-net-side
              a(href='#', onclick="activateSubmenuWithID('options-net')")
                span.glyphicons.glyphicons-inbox
                span.menu-title Сеть
            li._tab-side#options-snmp-side
              a(href='#', onclick="activateSubmenuWithID('options-snmp')")
                span.glyphicons.glyphicons-cluster
                span.menu-title SNMP
            li._tab-side#options-modbus-side
              a(href='#', onclick="activateSubmenuWithID('options-modbus')")
                span.glyphicons.glyphicons-tree-structure
                span.menu-title ModBus
            li._tab-side#options-time-side
              a(href='#', onclick="activateSubmenuWithID('options-time')")
                span.glyphicons.glyphicons-calendar
                span.menu-title Время