doctype html
html
  include ./login_head.jade

block content
  form(class='form-signin', action='/login', method='POST')
    h2.form-signin-heading Please sign in
    label.sr-only(for='inputEmail') User
    input#inputName(type='name', name='username' class='form-control', placeholder='Enter your name', required='', autofocus='')
    label.sr-only(for='inputPassword') Password
    input#inputPassword(type='password', name='password' class='form-control', placeholder='Password', required='')
    .checkbox
      label
        input(type='checkbox', value='remember-me')
        |  Remember me
    button.btn.btn-lg.btn-primary.btn-block(type='submit') Sign in
  if (message.length > 0)
    p.alert.alert-danger.form-signin(class='fade in')
      strong Error!
      | #{message}