doctype html
html(lang='en')
  include ./main_head.jade
  body.skin-blue.sidebar-mini
    .wrapper
      include ./top_bar.jade
      // BEGIN SIDEBAR MENU
      aside.main-sidebar
        // sidebar: style can be found in sidebar.less
        section.sidebar
          ul.sidebar-menu
            li
              a(href='/')
                i.fa.glyphicons.glyphicons-info-sign.fa-fw
                span.menu-title Обзор системы
            li.treeview
              a(href='#')
                i.fa.glyphicons.glyphicons-server.fa-fw
                span.menu-title Модули
                i.fa.fa-angle-left.pull-right
              ul.treeview-menu
                li
                  a(href='modules-main')
                    i.fa.glyphicons.glyphicons-server.fa-fw
                    span.menu-title Главный модуль
            li.treeview
              a(href='#')
                i.fa.glyphicons.glyphicons-temperature.fa-fw
                span.menu-title Климатика
                i.fa.fa-angle-left.pull-right
              ul.treeview-menu
                li
                  a(href='climats-cond')
                    i.fa.glyphicons.glyphicons-snowflake.fa-fw
                    span.menu-title Кондиционер
                li
                  a(href='climats-pelte')
                    i.fa.glyphicons.glyphicons-none-color-swatch.fa-fw
                    span.menu-title Пельтье
                li
                  a(href='climats-nagrevateli')
                    i.fa.glyphicons.glyphicons-heat.fa-fw
                    span.menu-title Нагреватели
            li
              a(href='system-power')
                i.fa.fa-plug.fa-fw
                  .icon-bg.bg-orange
                span.menu-title Система питания
            li.active
              a(href='system-logs')
                i.fa.fa-file-text-o.fa-fw
                  .icon-bg.bg-orange
                span.menu-title Логи
            li.treeview
              a(href='#')
                i.fa.fa-cog.fa-fw
                  .icon-bg.bg-orange
                span.menu-title Настройки
                i.fa.fa-angle-left.pull-right
              ul.treeview-menu
                li
                  a(href='options-net')
                    span.glyphicons.glyphicons-inbox
                    span.menu-title Сеть
                li
                  a(href='options-snmp')
                    span.glyphicons.glyphicons-cluster
                    span.menu-title SNMP
                li
                  a(href='options-modbus')
                    span.glyphicons.glyphicons-tree-structure
                    span.menu-title ModBus
                li
                  a(href='options-time')
                    span.glyphicons.glyphicons-calendar
                    span.menu-title Время
      .content-wrapper
        #page-wrapper
          // BEGIN TITLE & BREADCRUMB PAGE
          #title-breadcrumb-option-demo.page-title-breadcrumb
            .page-header.pull-left
              .page-title
                | Логи
            ol.breadcrumb.page-breadcrumb.pull-right
              li
                i.fa.fa-home
                a(href='dashboard') Главная
                i.fa.fa-angle-right
              li.hidden
                a(href='#') Логи
                i.fa.fa-angle-right
              li.active Логи
            .clearfix
          // END TITLE & BREADCRUMB PAGE
          // BEGIN CONTENT
          .page-content
            .row
              .col-12
                div(style='padding:10px;background:#FFF;margin-bottom:20px')
                  .row
                    .col-md-1.col-sd-1.col-xs-1
                      i.fa.fa-trash(style='font-size:25px;margin-top:20px;margin-left:15px')
                    .col-md-2
                      | Start time
                      br
                      .input-icon.right
                        i.fa.fa-calendar
                        input#logStartDate.form-control(type='text', placeholder='', data-inputmask="'alias': 'dd/mm/yyyy'", data-mask='')
                    .col-md-2
                      | End time
                      br
                      .input-icon.right
                        i.fa.fa-calendar
                        input#logEndDate.form-control(type='text', placeholder='', data-inputmask="'alias': 'dd/mm/yyyy'", data-mask='')
                    .col-md-2
                      | Mask
                      br
                      select#logMask.form-control(type='text', placeholder='')
                        option
                    .col-md-5(style='text-align:right;margin-top:20px')
                      | Show 
                      select#logEntries(type='text', placeholder='')
                        option 10
                      |  entries
            .row.mbl
              .col-md-8
                .panel
                  table#system-power.table.table-hover.table-bordered
                    thead
                      tr.bggray
                        th
                        th Дата и время
                        th Источник
                        th Строгость
                        th Событие
                    tbody
                      tr
                        td
                          input(type='checkbox', name='log1')
                        td
                        td
                        td
                        td
                  .row-fluid
                    .col-md-12
                      ul#pagination.pagination.mtm.mbm
                        li.disabled
                          a(href='#') «
                        li.active
                          a(href='#') 1
                        li
                          a(href='#') 2
                        li
                          a(href='#') 3
                        li
                          a(href='#') 4
                        li
                          a(href='#') 5
                        li
                          a(href='#') »
        script.
          $("[data-mask]").inputmask();
